# Database configuration for local Docker Compose
POSTGRES_PORT=5438
POSTGRES_DB=wafts
POSTGRES_PASSWORD=wafts_password

REDIS_HOST=localhost
REDIS_PORT=6389

# Keep this aligned with the POSTGRES settings above
DATABASE_URL=postgresql://postgres:wafts_password@localhost:5438/wafts

BETTER_AUTH_SECRET=TVye9XbNL8Mxt5fHYkdgJXN6jw7aU0PE # !REPLACE THIS!
BETTER_AUTH_URL=http://localhost:3000
