DATABASE_URL=postgresql://postgres:wafts_password@localhost:5432/wafts
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=TVye9XbNL8Mxt5fHYkdgJXN6jw7aU0PE # !REPLACE THIS!
BETTER_AUTH_URL=http://localhost:3000
